#ctgr_ttl{
    width: fit-content;
    font-size: 60px;
    margin-bottom: 1vw;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}
@media (max-width: 600px) {
    #ctgr_ttl{
        font-size: 11vw;
    }
}