html,
body {
  font-family: Poppins,-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --text-color: #0c005c;
  --text-color-global: #171730;
  --white-color: #fff;
  --nav-color-dark: #18171d;
  --swiper-theme-color: var(--button-color-dark) !important;
  --button-color-dark: rgb(255, 251, 19);
  --shadow-color: rgba(0, 0, 0, 0.767);
  --b--r: 6px;
  --height-nav: 66px;
  --border-grey: 1px solid #f2f2f2;
  --color-politica: linear-gradient(64deg,rgb(70, 37, 255),rgb(45, 166, 223));
  --color-economia: linear-gradient(64deg,rgb(19 187 31),rgb(21 181 127));
  --color-cultura: linear-gradient(64deg,rgb(118, 28, 192),rgb(154, 57, 219));
  --color-saude: linear-gradient(64deg,rgb(255, 22, 80),rgb(247, 120, 137));
  --color-entrevistas: linear-gradient(64deg,rgb(240 170 0),rgb(255 255 0));
  --color-social: linear-gradient(64deg,rgb(144, 97, 206),rgb(240, 167, 175));
  --screen-mobile: 450px;
  color: var(--text-color-global);
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&amp;display=swap");
a {
  color: inherit;
  text-decoration: none;
}
h1{
  font-size: 2.1em;
}
img{
  width: 100%;
  border-radius: var(--b--r);
}
p{
  margin: 1rem 0;
}
*,::before,::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
@media(min-width: 0px){
  body{
    --space-container: 0.8rem;
  }
}
@media(min-width: 500px){
  body{
    --space-container: 1rem;
  }
}
@media(min-width: 1100px){
  body{
    --space-container: 3rem;
  }
}
.flx{
  display: flex;
}
.fxd{
  position: fixed;
}
.cptlz{
  text-transform: capitalize;
}
#shwDv{
  display: block;
}
#hddnDv{
  display: none;
}
.pdng_tp{
  padding-top: calc(var(--height-nav) + 50px) !important;
}
@media (max-width: 700px) {
  .pdng_tp{
    padding-top: calc(var(--height-nav) + 70px) !important;
  }
}
.pdng_tp_ctgr{
  padding-top: 2vw !important;
}
.cntr{
  padding: 0 var(--space-container);
}
.grd_mn,.grd_scnd{
  display: grid;
}
.grd_mn{
  grid-gap: 1.1vw;
}
.grd_scnd{
  grid-gap: 2.8vw;
}
.grd_mn{
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(2,220px);
}
.mt2{
  margin-top: 2vw;
}
.grd_scnd{
  grid-template-columns: repeat(6,1fr);
}
.bx_mn{
  grid-column: 1 / 4;
  grid-row: 1 / 3;  
}
.bx_tw_lndng{
  grid-column: 4 / 6;
  grid-row: 1 / 3;
}

.sbbx_lndng{
  position: relative;
}
.bx_rcnt{
  display: grid;
  gap: 1vw;
  grid-template-columns: repeat(3,1fr);
  grid-column: 1 / 5;
}
.bx_smll_clmn{
  grid-column: 5 / 7;
}
@media (max-width: 800px){
  .grd_mn{
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 300px 450px;
    grid-gap: 1.7vw;
  }
  .bx_mn{
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .bx_tw_lndng{
    grid-column: 1 / 3;
    grid-row: 2 / 2;
  }
  /*segunda linha home*/
  .bx_rcnt{
    grid-column: 1 / 7;
    gap: 1.5vw;
    padding-top: 2vw;
  }
  .bx_smll_clmn{
    grid-column: 1 / 7;
  }/*fim segunda linha home*/
}
@media(max-width: 700px){
  .bx_rcnt{
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 450px){
  .grd_mn{
    grid-gap: 3vw;
  }
  .bx_rcnt{
    grid-template-columns: 1fr;
    gap: 1.7vw;
  }
}
.nav{
  width: 100%;
  height: var(--height-nav);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(11px);
  backdrop-filter: blur(11px);
}
#light .nav{
  border-bottom: var(--border-grey);
}
#dark .nav{
  border-bottom: 1px solid transparent;
}
#light .nav{
  background-color: #ffffffe8;
}
#dark .nav{
  background-color: #18171dd4;
}
.container{
  width: 100%;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
#bx-lft{
  display: flex;
}
.brand{
  width: 50px;
  height: var(--height-nav);
  display: block;
  line-height: var(--height-nav);
  margin-left: var(--space-container);
  margin-right: var(--space-container)
}
.fil2 {fill:none}
.fil1 {fill:#0C005C}
.fil3 {fill:#0C005C;fill-rule:nonzero}
#dark .fil1, #dark .fil3{
  fill: #4358b1
}
.fil0 {fill:url(#id1)}
#wrppr_sld_tpbr{
  height: 22px;
  margin-left: 5px;
}
.sld_tpbr{
  display: flex;
  height: 100%;
  align-items: center;
}
.sld_tpbr p{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.brand span{
height: var(--height-nav) !important;
}
@media (min-width: 992px){
  .button_toggler {
      display: none;
  }
}

.ul_nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
@media (min-width: 992px){
  .ul_nav {
      flex-direction: row;
  }
}
#navbar_collapse {
  flex-basis: 100%;
  align-items: center;
  overflow: hidden;
  animation-name: nav;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
@media (min-width: 992px){
  #navbar_collapse {
    background-color: none;
  }
}
@media (max-width: 991.98px) {
  #navbar_collapse{
    -webkit-backdrop-filter: blur(11px);
    backdrop-filter: blur(11px);
  }
  #light #navbar_collapse{
    background-color: #fffffff2;
  }
  #dark #navbar_collapse{
    background-color: #18171dd4;
  }
}
@keyframes nav{
  0%{
    margin-top: -5px;
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    margin-top: 0px;
  }
}
.hidden {
  display: none;
}
@media (min-width: 992px){
  .show{
    display: flex;
  }
  #navbar_collapse {
    display: flex!important;
    flex-basis: auto;
  }
  #button_toggler{
    display: none;
  }
}
#navbar_collapse li{
margin: 0px 8px;
font-weight: 500;
font-size: 15px;
text-transform: uppercase;
}
#dark #navbar_collapse li{
  color: var(--white-color);
}
#light #navbar_collapse li{
  color: #7e7e7e;
}
#light #navbar_collapse li .actv{
  color: var(--text-color);
}
#dark #navbar_collapse li .actv{
  color: var(--white-color);
}
.actv{
  font-weight: bold;
}
@media (max-width: 991.98px){
.ul_nav{
  align-items: center;
}
#navbar_collapse li{
  margin: 8px 0px;
}
#light #navbar_collapse{
  border-bottom: var(--border-grey);
}
}
#navbar_collapse li span{
width: 100%;
display: block;
height: 4px;
border-radius: 50px;
}
#button_toggler{
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
#button_toggler svg{
  width: 30px;
  height: 30px;
  fill: var(--text-color);
  position: absolute;
  top: calc((var(--height-nav) - 30px) / 2);
  right: 1rem;
}
#dark #button_toggler svg{
  fill: var(--button-color-dark);
}
.closed #menu_open_icon{/*aparecer*/
  transition:.5s
}
.opened #menu_open_icon{/*sumir*/
  transform:rotate(100deg);
  visibility:hidden;
  transition:.1s
}
.closed #menu_close_icon{
  visibility:hidden;
  transition:.1s
}
.opened #menu_close_icon{
  transform:rotate(180deg);
  transition:.5s
}
.swiper-slide{
  overflow: hidden;
  border-radius: var(--b--r);
}
#dark {
  background-color: rgb(36, 36, 53);
}
#entrevistas span,.entrevistas{
  background-image: var(--color-entrevistas)
}
#saude span,.saude{
  background-image: var(--color-saude);
}
#politica span, .politica{
  background-image: var(--color-politica);
}
#economia span, .economia{
  background-image: var(--color-economia);
}
#cultura span, .cultura{
  background-image: var(--color-cultura);
}
#social span, .social{
  background-image: var(--color-social);
}
#entrevistas span,.entrevistas{
  background-image: var(--color-entrevistas);
}
/*pagetag*/
#tg_h1{
  grid-column: 1 / 5;
  margin-bottom: 17px;
}
.bx_tgs{
  grid-column: 1 / 5;
}
/*pagetag*/
.nvbr-svg{
  width: 27px;
  height: 27px;
  margin-right: 20px;
}
#light .nvbr-svg{
  fill: var(--text-color);
}
#dark .nvbr-svg{
  fill: var(--white-color);
}
@media (max-width: 760px) {
  .nvbr-svg{
    display: none;
  }
}
/* search*/
@media(max-width:365px){
    .react-autosuggest__input{
        width:61vw;
    }
    .react-autosuggest__container--open .react-autosuggest__suggestions-container{
        width:100%;
    }
    .srch{
        padding-left:33px;
        font-size: 14.4px;
    }
    .srch-svg{
        left: 6px;
    }
}
.form-inline {
  width: 22%;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    margin-right: var(--space-container);
}
@media(max-width: 991.98px){
  .form-inline {
    margin-right: 4rem;
  }
}
@media(max-width: 600.98px){
  .form-inline{
    width: 20%;
  }
}
.opened .form-inline{
  display: none;
}
.srch-svg{
    position:absolute;
    width: 27px;
    height: 27px;
    right: 7px;
    top: 6px;
	-webkit-transition:.8s;
	-o-transition:.8s;
	transition:.8s;
  z-index: -1;
}
#light .srch-svg{
  fill: var(--text-color);
}
#dark .srch-svg{
  fill: var(--white-color);
}
#light .scrh-svg{
    fill: var(--text-color);
}
#dark .scrh-svg{
    fill: rgba(255, 255, 255, 0.66);
}
#light .react-autosuggest__container--open + .srch-svg {
    fill: rgba(0, 0, 0, 0.788);
}
/*autosugest*/
.react-autosuggest__container {
    position: relative;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
@media (min-width: 576px){
    .form-inline .react-autosuggest__container {
        width: auto;
    }
}
.react-autosuggest__container {
    vertical-align: middle;
    float: left;
  }
.react-autosuggest__input {
  width: 2vw;
  color: transparent;
    background-color: transparent;
    -webkit-border-radius:var(--b--r);
    -moz-border-radius:var(--b--r);
    border-radius:var(--b--r);
    font-size: 16px;
    outline: none;
    cursor: pointer;
    border: 1px solid transparent;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 40px;
    -webkit-transition: 0.4s ease-in;
    transition:0.4s ease-in;
    z-index: 1;
}
.react-autosuggest__input--focused{
  border: var(--border-grey);
  cursor: inherit;
  padding-left: 18px;
}
#light .react-autosuggest__container--open .react-autosuggest__input--focused{
    color: var(--nav-color-dark);
}
#dark .react-autosuggest__container--open .react-autosuggest__input--focused{
    background-color:var(--nav-color-dark);
}
#light .react-autosuggest__input--focused::placeholder{
    color:var(--nav-color-dark);
}
#light .react-autosuggest__input::placeholder{
    color: var(--nv-color);
}
#dark .react-autosuggest__input::placeholder{
    color:rgba(255,255,255,0.66);
}
#light .react-autosuggest__input {
    color: var(--text-color);
}
#dark .react-autosuggest__input {
    color: #fff;
}
@media (min-width:365.1px) and (max-width:767.98px){
    .react-autosuggest__input--focused, .react-autosuggest__container--open .react-autosuggest__suggestions-container {
        width:66vw;
    }
}
@media (min-width:768px){
    .react-autosuggest__input--focused, .react-autosuggest__container--open .react-autosuggest__suggestions-container {
        width:36vw;
    }
}
@media (min-width: 1000px){
    .react-autosuggest__input--focused, .react-autosuggest__container--open .react-autosuggest__suggestions-container {
        width:23vw;
    }
}


  .react-autosuggest__input:focus {
    outline: none;
  }

  .react-autosuggest__container--open .react-autosuggest__input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .react-autosuggest__suggestions-container {
    display: none;
  }

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
    display: block;
    position: absolute;
    overflow: hidden;
    border: var(--border-grey);
    border-top: 0;
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius:var(--b--r);
    border-bottom-right-radius:var(--b--r);
    z-index: 2;
    max-height: 290px;
}
#dark .react-autosuggest__container--open .react-autosuggest__suggestions-container {
    background-color:var(--nav-color-dark);
}
#light .react-autosuggest__container--open .react-autosuggest__suggestions-container {
    background-color:#fff;
}
.react-autosuggest__suggestions-list {
    margin: 0;
    padding:7px 0px;
    list-style-type: none;
}
.yr-sggt{
    margin-top:3px;
}
.ttl-sggt {
    font-weight: 600;
    text-transform: capitalize;
}
#dark .ttl-sggt {
    color: rgb(255, 255, 255);
}
#light .ttl-sggt {
    color: rgb(14, 14, 14);
}
#dark .yr-sggt{
    color:rgba(255,255,255,0.65)
}
#light .yr-sggt{
    color: rgba(0, 0, 0, 0.658);
}
  .react-autosuggest__suggestion {
    cursor: pointer;
    clear: both;
    padding:9px 9px;
  }
#dark .react-autosuggest__suggestion:hover, .react-autosuggest__suggestion--highlighted{
    background-color:#1f2327;
}
#light .react-autosuggest__suggestion:hover, .react-autosuggest__suggestion--highlighted{
    background-color:#e4e4e4;
}
  .react-autosuggest__suggestion:not(:first-child) {
    border:0;
  }

.cntr-sggst{
    align-items:center;
    display:flex;
    justify-content: space-between;
}
.name {
    text-transform:capitalize;
    line-height: 22px;
}
.highlight {
    text-decoration: underline;
}
.react-autosuggest__suggestion--focused .highlight {
    color: #120000;
}
.react-autosuggest__suggestions-list::-webkit-scrollbar{
    width:15px;
}
.react-autosuggest__suggestions-list::-webkit-scrollbar-button{
    background-color:#080e14;
}
.react-autosuggest__suggestions-list::-webkit-scrollbar-thumb{
    background-color:#364254
}
.react-autosuggest__suggestions-list::-webkit-scrollbar-track{
    background-color:var(--nv-clr);
}
@media(max-width:550px){
    .react-autosuggest__suggestions-list::-webkit-scrollbar{
        display: none;
    }
}
/* search*/
.swiper-container, .crd_ctnr{
  width: 100%;
  height: 100%;
  border-radius: var(--b--r);
  overflow: hidden;
}
.bg_img_shdw{
  width: 100%;
    height: 60%;
    background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),to(var(--shadow-color)));
    background-image: -webkit-linear-gradient(transparent,var(--shadow-color) 100%);
    background-image: linear-gradient(transparent,var(--shadow-color) 100%);
    padding: 3rem 2rem 3rem 2rem;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    color: var(--white-color);
}
@media (max-width: 750px){
  .bg_img_shdw {
    padding: 3rem 1rem 1rem 1rem;
  }
}
@media (max-width: 450px){
  .bg_img_shdw {
    padding: 2rem 1rem 1.4rem 1rem;
  }
}
#bx-rght{
  display: contents;
}
#light .ttl_bxs{
  color: var(--text-color-global)
}
#dark .ttl_bxs{
  color: var(--white-color);
}
@media(max-width: 500px){
  .crd_smll{
    display: flex;
    justify-content: space-between;
  }
  .bx_img_crd{
    width: 45%;
  }
  .bx_txt_crd{
    width: 52%;
  }
}

#dark .ttl_smll_crd, #dark .sctn_em_alt{
  color: var(--white-color);
}
#light .ttl_smll_crd{
  color: var(--text-color-global)
}
#light .spn_dt{
  color: #757575;
}
#dark .spn_dt{
  color: #c7c7c7;
}
.spn_dt{
  font-size: 11px;
}
.ttl_smll_crd{
  font-weight: 500;
  margin-top: 0.4rem;
}
@media (max-width: 450px) {
  .ttl_smll_crd{
    font-size: 14px;
    font-weight: 600;
    margin-top: 0;
  }
}
@media (max-width: 400px) {
  .ttl_smll_crd{
    font-size: 13px;
  }
}
#light .sctn_em_alt:hover{
  color: rgb(22, 22, 22);
  text-decoration: blue underline;
}
#dark .sctn_em_alt:hover{
  color: rgb(235, 235, 235);
  text-decoration: blue underline;
}
.flx_cntr{
  justify-content: center;
}
.spc_btwn{
  justify-content: space-between;
}
.flx_cntr, #switch{
  display: flex;
  align-items: center;
}
.bx_txt_trndng{
  width: 87%;
}
.bx_nmr_trndng{
  width:10%;
  font-style: italic;
  font-size: 18px;  
}
footer{
  width: 100%;
  color: var(--white-color);
  background-color: #464550;
  margin-top: 5vw;
}
footer ul{
  list-style: none;
}
footer a:hover{
  text-decoration: underline;
}
footer h4{
  color: yellow;
}
footer h4, footer a,footer li{
  text-transform: capitalize;
}
#bx_pwrdby{
  width: 100%;
  text-align: right;
  padding: 1rem var(--space-container);
  background-color: #00000071;
  font-size: 12px;
}
#bx_pwrdby a{
  text-transform: none;
}
.pdng_tp_ftr{
  padding-top: 60px;
  padding-bottom: 60px;
}
/*toggler*/
#switch {
  background-color: rgba(0, 0, 0, 0.493);
  border-radius: 34px;
  position: relative;
  width: 65px;
  height: 34px;
  outline: 0;
  margin-top: 30px;
  border: 0;
  padding: 0px 8px;
  justify-content: space-between;
}
#switch svg{
  fill: var(--white-color);
  width: 20px;
}
.slider,.slider:before{
  position: absolute;
}
.slider {
  cursor: pointer;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.slider:before {
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}
#light .slider:before{
  transform: translate(30px);
}
/*toggler*/
.bx_sld_scnd{
  padding: 2.5vw 0;
}
.bx_ftr_cmpny{
  grid-column: 1 / 3;
}
#bx_lg_ftr{
  width: 45%;
  margin-bottom: 2vw;
}
.bx_ftr_scnd{
  grid-column: 4 / 5;
}
.bx_ftr_thrd {
  grid-column: 5 / 6;
}
.bx_ftr_lst{
  grid-column: 6 / 7;
}
.p_sb_txt_crd{
  font-size: 1vw;
  margin-top: 0.3vw;
}
@media (max-width: 600px){
  .bx_ftr_cmpny, .bx_ftr_scnd, .bx_ftr_thrd,.bx_ftr_lst{
    grid-column: 1 / 7;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer ul{
    text-align: center;
  }
}
#light .p_sb_txt_crd{
  color: grey;
}
#dark .p_sb_txt_crd{
  color: rgb(179, 179, 179);
}
@media (max-width: 970px) {
  .p_sb_txt_crd{
    font-size: 1.3vw
  }
}
@media (max-width: 750px){
  .p_sb_txt_crd{
    font-size: 1.8vw;
  }
}
@media (max-width: 550px){
  .p_sb_txt_crd{
    font-size: 2.2vw;
  }
}
@media (max-width: 450px){
  .p_sb_txt_crd{
    display: none;
  }
}
#dark .h1_artcl, #dark .p_chmd,#dark .bx_artcl{
  color: var(--white-color);
}
#dark .inf_artcl, #dark .dscrptn_img{
  color: #a0a0a0;
}
.p_chmd{
  margin-top: 1vw;
  margin-bottom: 1.3vw;
}
.dscrptn_img{
  font-size: 13px;
  text-transform: capitalize;
}
.bx_artcl{
  margin: 2vw 0;
}
.bx_artcl h3,.bx_artcl h4,.bx_artcl h5{
  margin: 1.2vw 0;
}
#light .dscrptn_img, #light .inf_artcl{
  color: #2d2c34;
}
.icns_shr{
  font-size: 10px;
}
i{
  font-family: serif;
}
#light .icns_shr a{
  fill: var(--text-color-global);
}
#dark .icns_shr a{
  fill: #fff;
}
.inf_artcl{
  font-size: 14px;
  margin-bottom: 0.5vw;
}
@media (max-width: 480px) {
  .inf_artcl{
    width: 100%;
  }
}
.icns_shr a{
  width: 20px;
  display: inline-block;
  margin-left: 10px;
}
blockquote {
  margin: 20px 0;
  padding-left: 1rem;
  border-left: 5px solid #ffee00;
  border-radius: var(--b--r);
}
.cntr_tgs > span{
  text-transform: capitalize;
  font-weight: 500;
}
#dark .cntr_tgs > span{
  color: #fff;
}
#light .cntr_tgs > span{
  color: var(--text-color-global)
}
/*quemsomos*/
.wppr_qmsms{
  padding: 0 var(--space-container);
}
#dark .wppr_qmsms{
  color: #fff;
}
.bx_qmsms{
  width: 100%;
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.bx_inf_vls{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.bx_prfl{
  display: flex;
  width: 50%;
}
@media (max-width: 700px){
  .bx_qmsms{
    display: block;
  }
  .bx_prfl{
    width: 100%;
  }
}
.bx_img{
  width: 30%;
}
.bx_img img{
  border-radius: 50%;
}
.bx_info_prfl_flx{
  margin-left: 2rem;
  display: flex;
  align-items: center;
}
.bx_info_prfl{
  flex-direction: column;
  text-transform: capitalize;
}
/*fimquemsosmos*/